{#
	Product / Create / Done
#}

{% extends "layout/html.html" %}

{% block body %}

<h1>Client :: Create</h1>

<form method="post">
<div class="row justify-content-center">
	<div class="col-md-8">
		<div class="card">
			<div class="card-header">
				<h2>Create New Client</h2>
			</div>
			<div class="card-body">
				<input class="form-control license-autocomplete" id="license-name" value="">
				<input id="license_id" name="license_id" type="hidden">
			</div>
			<div class="card-footer">
				<button class="btn btn-primary"><i class="fas fa-plus"></i> Create Client</button>
			</div>
		</div>
	</div>
</div>
</form>

{% endblock %}

{% block foot_script %}
{{ parent() }}
<script>
$(function() {
	$('.license-autocomplete').autocomplete({
		source: 'https://directory.openthc.com/api/autocomplete/license?rbe=wa',
		select: function(e, ui) {
			$('#license_id').val( ui.item.license.id );
			$('#license-name').val( ui.item.license.name );
			return(false);
		},
	});
});
</script>

{% endblock %}
