{#
	Create a Contact
#}

{% extends "layout/html.html" %}

{% block body %}

<div class="row mt-4">
<div class="col">
	<h1>Contact : Create</h1>
</div>
<div class="col-md-2 r">
	<div class="btn-group btn-group-sm">
		<button class="btn btn-outline-primary">Save</button>
	</div>
</div>
</div>

<div class="row">
	<div class="col-md-6">
	<div class="form-group">
		<label>Contact:</label>
		<input class="form-control" name="name" placeholder="Name" value="">
	</div>
	</div>
	<div class="col-md-6">
	<div class="form-group">
		<label>Company:</label>
		<div class="input-group">
			<input class="form-control" id="company_name" value="{{ Company.name }}">
			<input class="form-control" id="company_id" name="company_id" type="hidden" value="{{ Company.id }}">
			<div class="input-group-append">
				<span class="input-group-text" id="company_id_text">
					<a href="https://directory.openthc.com/company?id={{ Company.guid }}"><i class="fas fa-address-book"></i></a>
				</span>
			</div>
		</div>
	</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
	<div class="form-group">
		<label>Email:</label>
		<div class="input-group">
			<input class="form-control" name="email" placeholder="- email -" value="{{  Contact.email }}">
			<div class="input-group-append">
				<a class="btn btn-outline-secondary" href="mailto:{{ Contact.email }}">
					<i class="fas fa-send"></i>
				</a>
			</div>
		</div>
	</div>
	</div>

	<div class="col-md-6">
	<div class="form-group">
		<label>Phone:</label>
		<div class="input-group">
			<input class="form-control" name="phone" placeholder="- phone -" value="{{  Contact.phone_nice }}">
			<div class="input-group-append">
				<a class="btn btn-outline-secondary" href="tel:{{ Contact.phone_e164 }}">
					<i class="fas fa-phone"></i>
				</a>
			</div>
		</div>
	</div>
	</div>

</div>

<div class="row">
<div class="col">
	<div class="form-group">
		<label>Roles:</label>
		<!--
		<label><input type="checkbox">Manger</label>
		<label><input type="checkbox">Primary Buyer</label>
		<label><input type="checkbox">Secondary Buyer</label
		-->
		<!-- Buyer, General Manager, Assistant Manager, Owner, Budtender, Marketing, Receiving/Returns, Billing, Other (list in notes) -->
		<input class="form-control" value="Select Magic">
	</div>
</div>
</div>

<div class="row">
<div class="col">
	<div class="form-group">
		<label>Notes:</label>
		<textarea class="form-control"></textarea>
	</div>
</div>
</div>

<div class="form-actions">
	<button class="btn btn-outline-primary" name="a" value="save"><i class="fas fa-save"></i> Save</button>
	<button class="btn btn-outline-danger" name="a" value="delete"><i class="fas fa-trash"></i> Delete</button>
</div>



{% endblock %}
