{#
	Prospecting for Sales
#}

{% extends "layout/html.html" %}

{% block body %}
</div>

<div class="container-fluid"> <!-- Intentionally Not Closed -->

<div class="row mt-4" id="search-wrap">

<div class="col">
<div class="form-group">
	<input class="form-control" id="map-search-term" name="q" placeholder="Search" type="text" value="{{ q }}">
</div>
</div>

<div class="col">
<div class="form-group form-inline">
	<select class="form-control" id="map-search-type" name="t">
		<option selected value="">- All License Types -</option>
	{% for t in license_type_list %}
		<option
			{{ license_type_pick == t ? "selected" }}
			value="{{ t }}">{{ t }}</option>
	{% endfor %}
	</select>
	<select class="form-control" name="city"><option>-City</option></select>
	<select class="form-control" name="county"><option>-County-</option></select>
</div>
</div>

<div class="col">
<div class="form-group">
	<button class="btn btn-outline-primary" id="map-search">Search</button>
	<button class="btn btn-outline-danger map-mark-wipe"><i class="fas fa-ban"></i> Clear</button>
	<button class="btn btn-outline-secondary" id="map-re-center"><i class="fas fa-crosshairs"></i><!-- fa-dot-circle-o --></button>
	<a class="btn btn-outline-secondary" href="/map" id="map-link"><i class="fas fa-link"></i></a>
</div>
</div>
</div>

<div class="row">
	<div class="col-md-8">
		<div id="license-map-wrap">
			<div id="google-map" style="width:100%; height:750px;"></div>
		</div>
	</div>
	<div class="col-md-4">
		<h3>License List</h3>
		<div id="license-list">
			<p>Filter By County</p>
			<p>Filter By City</p>
			<p>Filter By Revenue</p>
			<p>Show Rank</p>
		</div>
	</div>
</div>


{% endblock %}

{% block foot_script %}
{{ parent() }}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ google_map_key }}&amp;libraries=places"></script>
<script>
var CRM_MAP = null;
var Map_Mark_List = [];

function _license_info(mark, id)
{
	$.get('https://directory.openthc.com/api/license/' + id, function(body, stat) {

		var html = '';
		html += '<div class="container">';
		html += '<h2>';
		html += '<a href="//directory.openthc.com/company?id=' + body.company.id + '">';
		html += body.name;
		html += '</a>';
		html += '</h2>';

		html += '<div class="row">';
		html += '<div class="col"><h3>License: #' + body.code + '</h3></div>';
		html += '<div class="col"><h3>' + body.company.guid + '</h3></div>';
		html += '</div>';

		html += '<h4>Address: ' + body.address_full + '</h4>';

		html += '<div class="row"><div class="col">';
		html += '<div class="btn-group btn-group-sm">';
			html += '<a class="btn btn-outline-primary" href="https://directory.openthc.com/search?q=' + body.id + '" target="_blank"><i class="fas fa-database"></i> OpenTHC</a>';
			html += '<a class="btn btn-outline-primary" href="https://502data.com/license/' + body.code.replace(/[^\d]/, '') + '" target="_blank">502 Data</a>';
			html += '<a class="btn btn-outline-primary" href="https://www.topshelfdata.com/business/' + body.code.replace(/[^\d]/, '') + '" target="_blank">TopShelf</a>';
		html += '</div>';
		html += '</div></div>';

		html += '</div>';


		var Inf = new google.maps.InfoWindow({
			content: '<h2>Marker</h2>'
		});
		Inf.open(CRM_MAP, mark);
		Inf.setPosition( mark.getPosition() );
		Inf.setContent(html);
	});

}

function _license_list_create()
{

}

function _license_map_marker_create(mark)
{
	console.log('_license_map_marker_create()');

	var ol = 0;
	var ot = 0;

	var pt = new google.maps.LatLng(mark.geo_lat, mark.geo_lon);

	var mk = new google.maps.Marker({
		_data: mark,
		map: CRM_MAP,
		//animation: google.maps.Animation.BOUNCE,
		//animation: google.maps.Animation.DROP,
		draggable:false,
		dragCrossMove:false,
		label: mark.license_type.substring(0, 1).toUpperCase(),
		icon: {
			url: mark.marker.mark,
			labelOrigin: new google.maps.Point(16, 10)
		},
		position: pt,
	});

	mk.addListener('click', function(e) {
		// This is the mk
		_license_info(this, this._data.license_guid)
	});

	Map_Mark_List.push(mk);

	return mk;

}

function _license_map_marker_delete()
{
	console.log('_license_map_marker_delete()');

	//Map_Drop_List = {};

	Map_Mark_List.forEach(function(x, i) {
		x.setMap(null);
	});
	Map_Mark_List = [];

	// Map_Line_List.forEach(function(x, i) {
	// 	x.setMap(null);
	// });
	// Map_Line_List = [];

}


function _license_map_search()
{
	$b = $('#map-search');
	$b.attr('disabled', 'disabled');
	$b.html('Search <i class="fas fa-sync fa-spin"></i>');

	// Reload
	var arg = {
		q: $('#map-search-term').val(),
		type: $('#map-search-type').val(),
	};

	_license_map_marker_delete();
	_license_map_search_exec(arg, function() {
		$b.removeAttr('disabled');
		$b.html('Search');
	});

}

function _license_map_search_exec(arg, cbfn)
{
	if (undefined === arg) {
		arg = {};
	}

	arg.a = 'map-list';
	arg.stat = 200;
	arg.rect = CRM_MAP.getBounds().toJSON();

	$.get('https://directory.openthc.com/api/search', arg)
		.done(function(ret) {
			//marker_wipe();
			ret.forEach(function(n, i) {
				var mk = _license_map_marker_create(n);
				//OMS.addMarker(mk);
			});
		})
		.always(cbfn);

}



$(function() {

	var div = document.getElementById('google-map');
	var opt = {
		// draggable: false,
		keyboardShortcuts: false,
		// mapTypeControl: false,
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		navigationControl: false,
		// overviewMapControl: false,
		// panControl: false,
		rotateControl: false,
		// scaleControl: false,
		// scrollwheel: false,
		streetViewControl: false,
		styles: [
			{
				featureType: "poi",
				elementType: "labels",
				stylers: [
					{
						visibility: "off"
					}
				]
			}
		],
		zoom: 10,
		zoomControlOptions:{
			style: google.maps.ZoomControlStyle.SMALL
		}
	};

	var cpt = new google.maps.LatLng({{ Center.latitude }}, {{ Center.longitude }});

	var x = localStorage.getItem('cpt');
	if (x) {
		cpt = new google.maps.LatLng(JSON.parse(x));
	}

	x = localStorage.getItem('cpz');
	if (x) {
		opt.zoom = parseInt(x, 10) || 10;
	}

	CRM_MAP = new google.maps.Map(div, opt);
	CRM_MAP.setCenter(cpt);

	// Do A Search
	$('#search-wrap :input').on('change', function() {
		_license_map_search();
	});

	$('#map-search').on('click', function() {
		_license_map_search();
	});

});
</script>
{% endblock %}
