{#
	Product / Edit
#}

{% extends "layout/html.html" %}

{% block body %}

<div class="container">

<div class="hero-wrap">
	<div class="hero-core">
		<h1><i class="fas fa-sync"></i> Data Sync</h1>
		<h2>Give it a bit to sync-up your data</h2>
		<h3 class="collapse">This could take a few minutes...</h3>
		<h3 class="collapse">{{ message }}</h3>
	</div>
</div>

</div>

{% endblock %}

{% block foot_script %}
{{ parent() }}
<script>
$(function() {

	$('.hero-core').find('i').addClass('fa-spin');

	var arg = {};

	$.post('/sync', arg, function(body) {
		window.location = '/intent';
	}).fail(function() {
		window.location = '/intent?f=sync';
	});

	setTimeout(function() {
		$('.hero-core h3').show();
	}, 15000);

});
</script>

{% endblock %}
